* {
  z-index: 2;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial";
  padding: 0;
  margin: 0;
  color: white;
  list-style: circle;
}

body {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.modal-wrapper {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  display: grid;
  place-items: center;
}

.modal-body {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: #f5f5f5;
  width: 90%;
  max-width: 400px;
  padding: 2rem;
}

.modal-body p {
  font-weight: lighter;
  font-size: 1.2rem;
  color: #000000;
}

.modal-body .button--modal {
  display: block;
  border-radius: 30px;
  padding: .3rem 1rem;
  background-color: #f85720;
  font-size: 1.5rem;
  color: #f5f5f5;

}



.main-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main-slider .slide-1 {
  z-index: 3;
  position: absolute;
  left: 0;
}

.slide {
  height: 100%;
  width: 100%;
}

.main-slider .slide-2 {
  position: absolute;
  left: 0;
  top: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    164.71deg,
    #fa6626 9.15%,
    #f85720 50.05%,
    #db3014 88.53%
  );
  line-height: 1.8rem;
}

.hero::after {
  content: "";
  position: absolute;
  background: url("../assets/nube-sup-left.png") no-repeat;
  left: 0;
  top: 0;
  background-size: 100%;
  width: 25vw;
  height: 100%;
}

.hero::before {
  position: absolute;
  content: "";
  background: url("../assets/cloud-hero-left-bottom.png") no-repeat;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  width: 100px;
  background-size: 100px;
  height: 100px;
}

.hero {
  position: relative;
  min-height: 500px;
  background: linear-gradient(
    164.71deg,
    #fa6626 9.15%,
    #f85720 50.05%,
    #db3014 88.53%
  );
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  transition: all ease 0.1s;
}

.hero__main-logo {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 350px;
  padding: 2rem;
}

.hero__info-button {
  z-index: 34;
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-100%);
  background: white;
  color: #000000;
}

.hero__presented-by {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__presented-by__text {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.hero__ecomsur-logo {
  max-width: 200px;
}

.hero__goku {
  width: 100%;
  height: 0;
}

.hero__goku__image {
  z-index: 3;
  display: none;
  position: absolute;
  filter: brightness(0.6);
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
  width: 100%;
  left: 100%;
  top: 20%;
  max-width: 300px;
}

.body {
  position: relative;
}

.body__goku__image {
  opacity: 0;
  max-width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

.body__goku__image--appear {
  opacity: .5;
  animation: teleport-mobile 1s ease-in-out;
}

.cloud-separator {
  display: flex;
  justify-content: space-between;
}

.cloud-separator__cloud {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.dragon-ball-image {
  max-width: 20px;
}

.tournament-rules__logo {
  max-width: 150px;
}

.tournament-rules__rules {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tournament-rules__duo-match p {
  margin-top: 1rem;
}

.tournament-rules__duo-match__logo {
  width: 100%;
  max-width: 300px;
}

.tournament-info__invitation__logo {
  display: block;
  margin: auto;

  width: 100%;
  max-width: 300px;
}

.tournament-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-info__text {
  max-width: 400px;
  margin-top: 1rem;
}

.tournament-info__countries__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.tournament-info .button--sign-up {
  margin-top: 1rem;
}

.awards__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}

.awards__text {
  margin: auto;
  max-width: 400px;
}

.amazon-award__logo {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
}

.section {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
  gap: 5rem;
}

.bold {
  font-weight: 700;
}

.button {
  cursor: pointer;
  display: block;
  text-align: center;
  border: none;
}

.button--sign-up {
  max-width: 10rem;
  font-size: 1rem;
  font-weight: 700;
  color: #c1001a;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
}

.button--sign-up:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.date {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.date__logo {
  margin: auto;
  max-width: 400px;
  display: block;
  width: 100%;
}

.date__text {
  text-align: center;
  margin: auto;
}

.date .button--sign-up {
  margin: auto;
}

.date .input {
  margin: auto;
  width: 100%;
  max-width: 350px;
  text-align: center;
  color: #000000;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: 5rem;
}

.footer__shenlong {
  display: block;
  width: 60%;
  max-width: 700px;
}

.footer__clouds {
  display: block;
  width: 15%;
}

.input {
  border-radius: 30px;
  padding: 0.7rem;
  border: none;
}

@media screen and (min-width: 1240px) {
  .section {
    min-height: 80vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .cloud-separator__cloud {
    display: flex;
    justify-content: space-between;
    width: 150px;
  }

  .hero {
    position: relative;
    min-height: 800px;
  }

  .hero__main-logo {
    max-width: 450px;
  }
  .hero__ecomsur-logo {
    max-width: 300px;
  }

  .hero__goku__image {
    display: block;
    opacity: 1;
    left: 100%;
    top: 50%;
    max-width: 35vw;
    filter: none;
    transform: translate(-100%, -50%);
  }

  .body__goku__image {
    opacity: 0;
    max-width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
  }

  .body__goku__image--appear {
    opacity: 1;
    animation: teleport-desktop 1s ease-in-out;
  }
}

@keyframes teleport-mobile {
  0% {
    opacity: 0;
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: .5;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: .5;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: .5;
  }
}

@keyframes teleport-desktop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
